@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Ubuntu;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}



.small-form {
    height: 415px;
}



